

<div class="text-center">
    <h5>XML-ში კონვერტაციისთვის ატვირთეთ ექსელის ფაილი</h5>
</div>
<div style="display:flex; justify-content: center;margin-top:25px;">
    <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
        <div style="display: flex">
            <div>
                @*<input type="file" name="files" multiple />*@
                <div class="mb-3" style="display: flex">
                    <input style="width:450px" class="form-control" type="file" name="files" multiple id="formFile" >

                    <select class="form-select" style="width:200px; margin-left: 15px" name="jurnal">
                        <option value="0">აირჩიეთ ...</option>
                        @if(ViewBag.jurnals != null){
                        @foreach (var item in ViewBag.jurnals as IList<Jurnal>)
                               {
                        <option value="@item.Dagbknr">@item.Dagbknr  @item.DagbkDesc</option>
                               }

                        }

                    </select>
                </div>
            </div>
            <div style="margin-left: 15px;">
                <input class="btn btn-primary" type="submit" value="კონვერტაცია" />
            </div>
        </div>




    </form>
</div>
@if (ViewData["nonExists"] != null)
{
<div class="text-center" style="color: red; margin: 15px">
    <h5>ვერ მოიძებნა :</h5> 
</div>
<table class="table table-hover" style="margin-left: -80px">
    <thead>
        <tr>
            <th style="min-width: 120px;">საბუთის N</th>
            <th>დებეტი</th>
            <th>კრედიტი</th>
            <th style="min-width: 240px;">ოპერაციის შინაარსი</th>
            <th style="min-width: 170px;">ოპერაციის ტიპი</th>
            <th style="min-width: 215px;">მიმღების დასახელება</th>
            <th style="min-width: 330px;">მიმღების საიდენტიფიკაციო კოდი</th>
            <th style="min-width: 200px;">დანიშნულება</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in ViewData["nonExists"] as IList<ExcelData>)
        {
        <tr>
            <td>  @data.StatementNumber</td>
            <td>  @data.Debit</td>
            <td>  @data.Credit</td>
            <td>  @data.OperationContent ...</td>
            <td>  @data.OperationType</td>
            <td>  @data.ReceiverName</td>
            <td><h6 style="color: red;">@data.IdentityNumber</h6> </td>
            <td>  @data.Destination</td>
        </tr>
        }
    </tbody>
</table>
}




<div class="text-center" style="color: red">
    <h5>@ViewBag.error </h5>
</div>